<div class="container">
    <p *ngFor="let item of collection | paginate: { id: 'foo',
                                                      itemsPerPage: recordsPerpage,
                                                      currentPage: page,
                                                      totalItems: collection.length }"> {{item}} </p>

    <pagination-controls class="my-5" (pageChange)="Change(page= $event)" id="foo">
    </pagination-controls>
    <select (change)="loadRecords($event)">
    <option value="10" default>10</option>
    <option value="25">25</option>
    <option value="50">50</option>
    <option value="75">75</option>
    <option value="100">100</option>
  </select>
    <br />
    <br />
    <button class="btn btn-sm btn-primary" (click)="open()"> Click Me! </button>
</div>